* {
  grid-column: span 2;
}

.table-card {
  background: #1e293b;
  border-radius: 20px;
  padding: 25px;
}

.table-container {
  overflow-x: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

th {
  background: #334155;
}

tr:hover {
  background: rgba(255,255,255,0.04);
}

canvas {
  width: 100% !important;
  height: 320px !important;
}

@media(max-width: 1000px) {

  body {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .chart-grid {
    grid-template-columns: 1fr;
  }

  .full-width {
    grid-column: span 1;
  }
}
